.calculator {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 150px;
    background-color: grey;
    padding: 30px;
  }
  .hi{
    float: center;
    background-color:black;
    color: white;
    padding:15px;

  }
  .display {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    background: white;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }